/* Autor: Erik Alves Vilar 

date: 09/04/2024*/
/*-- fonts -- */
/*poppins*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*Monstreat*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@media (max-width: 1920px) {
    

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar {
    display: none;
}

html,
body {
    margin: 0;
    width: 100%;
    height: auto;

    scroll-behavior: smooth;
}


body {
    display: flex;
    margin: auto;
    flex-direction: column;
}
.top-nav {
    position: fixed;
    z-index: 1;
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(58deg, #0b0b0b 30%, #738a95 100%);
    color: #FFF;
    height: 50px;
    padding: 1em;
}

.menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: auto;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.menu>li {
    margin: 0 1rem;
    overflow: hidden;
    height: 30px;
}

.menu>li:hover {
    border-bottom: 1px solid rgba(227, 126, 10, 0.922);
}

.menu a {
    color: white;
    text-decoration: none;

}


.menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu-toggle {
    display: none;
}


.hero {

    filter: saturate(50%);
    background-image: url('/dist/assets/hero-DCqvMiCT.jpg');
    background-repeat: no-repeat;
    width: 100%;
    height: 950px;
    display: flex;
    margin: auto;
    flex-direction: column;

    background-blend-mode: screen;
}

.hero h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    color: rgb(0, 0, 0);
    text-align: center;
    opacity: 0.8;
    font-size: 60px;
    transition: all 0.5s ease;
}

/*Animated text*/
.animated-hello {
    font-size: 50px;
    font-family: "Source Code Pro", monospace;
    color: rgb(0, 0, 0);
    font-weight: 300;
    text-align: center;
}

.animated-hello span {
    position: relative;
}

.animated-hello span::before {
    content: "";
    animation: text 20s infinite;
    letter-spacing: 8px;
}

.animated-hello span::after {
    content: "";
    position: absolute;
    height: 100%;
    border-left: 4px solid rgb(0, 0, 0);
    right: -10px;
    animation: cursor 1s infinite, write 20s steps(15) infinite;
    width: calc(100% + 15px);
    background-color: black;
}

@keyframes write {

    10%,
    15%,
    30%,
    35%,
    50%,
    55%,
    70%,
    75%,
    90%,
    95% {
        width: 0;
    }

    5%,
    20%,
    25%,
    40%,
    45%,
    60%,
    65%,
    80%,
    85% {
        width: calc(100% + 18px);
    }
}

@keyframes cursor {
    0% {

        border-left: 4px solid white;

    }

}

@keyframes text {

    0%,
    20% {

        content: " transformador/>";
    }

    21%,
    40% {

        content: "inovador/>";
    }

    41%,
    60% {
        content: "inspirador/>";
    }

    61%,
    80% {
        content: "motivador/>";
    }

    81%,
    100% {
        content: "você/>";
    }

}

/*Datetime conf*/
#datetime {
    padding-top: 100px;
    margin-bottom: 50px;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;

    color: rgb(0, 0, 0);
    text-align: center;
    opacity: 0.8;
    font-size: 60px;
    transition: all 0.5s ease;
    text-shadow: 1vw 1vw 1vw #ffffff, 0 0 3vw #ffffff, 0 0 3vw #f9f9f9, 0 0 3vw #ffffff;


}

.hero h2 {
    padding-top: 50px;
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    text-align: center;
    color: white;
    opacity: 0.8;
    font-size: 30px;
}

.quote {
    /*Citação in portuguese*/
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 200px;
}

.quote :nth-child(1) {
    text-align: center;
    font-size: 18px;

    color: rgb(255, 255, 255);
    font-family: "Montserrat", sans-serif;
    letter-spacing: 2px;
    font-weight: 300;
    line-height: 30px;
    margin-right: 50px;
    font-style: italic;
}

.quote :nth-child(2) {

    margin-left: -120px;
    margin-top: 120px;
    font-size: 16px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    font-family: "Montserrat", sans-serif;

}

/* buttons*/
.button {
  
    display: flex;
    justify-content: center;
    justify-self: center;
    align-items: center;
    background-color: #070024;
    border: 2px solid #1A1A1A;
    border-radius: 15px;
    cursor: pointer;
    font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    width: 250px;
    height: 100px;
    color: white;
  
    margin: auto;
}a{
    text-decoration: none;
}






.button:disabled {
    pointer-events: none;
}

.button:hover {
    box-shadow: rgba(214, 206, 206, 0.25) 0 8px 15px;
    transform: translateY(-2px);
    background-color: #ffffff;
    color: #000000;
}

.button:active {
    box-shadow: none;
    color: black;
    background-color: white;
    transform: translateY(0);
}

/*end buttons*/
/*End header conf*/
main {
    width: 100%;
    height: auto;

    margin: auto;
    background-image: linear-gradient(to top, #5c6674, #4a4b56, #363238, #1f1c1e, #000000);
}

.general-content {
    padding-top: 250px;
    width: 1500px;
    height: auto;
    margin: auto;
}
.general-content:nth-child(3){
  height:auto;
  padding-bottom: 50px;

}
.general-content:nth-child(3){
  height:auto;

  

}






.general-content h3 {
    position: relative;
    top: 20px;
    width: 500px;
    height: 100px;
    margin: auto;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    text-align: center;
    color: white;
    opacity: 0.8;
    font-size: 40px;
}

.general-content h3::after {
    content: "";
    position: absolute;
    height: 0.1rem;
    padding-bottom: 0px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: #c77f03;
    transition: all 0.3s ease;
}

.general-content h3:hover::after {
    width: 100%;
}

.first-content {
    display: flex;
    width: 1500px;
    height: 50vh;
    padding-top: 50px;
    margin: auto;
}

.first-content :nth-child(1) {
    width: 90%;
    height: 400px;
    text-align: justify;
}

.first-content :nth-child(2) img {
    width: 320px;
    height: 400px;
    border-radius: 15px;
    opacity: 0.7;
    transition: all 0.3s ease;
}

.autor:hover {
    filter: brightness(1.09);
}

.first-content p {
    text-align: center;
    font-size: 18px;

    line-height: 35px;
    margin-top: 50px;
    color: rgba(255, 255, 255, 0.737);
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    padding-left: 50px;
}.box-scrolling{
    overflow: none;
}

.box-knowledges {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 50px;
    justify-content: center;
    padding-bottom: 100px;
    flex-wrap: wrap;
}.box-projects{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-bottom: 100px;
    flex-wrap: wrap;
}
.second-content {
    width: 1500px;
    
    height: auto;
    padding-top: 50px;
}

.second-content p {
    text-align: justify;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 18px;
    line-height: 40px;
    color: rgb(255, 255, 255);
    font-family: "Montserrat", sans-serif;
   
    font-weight: 300;
    padding-left: 50px;
}

/*Exclusive conf*/

.note{
    background: linear-gradient(17deg, #ab7141 0%, #0f1b7d89 100%);
    border-radius: 9px;
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
    margin: auto;

}
.note:nth-child(odd){
    background: linear-gradient(17deg, #335169 0%, #fa03b0 100%);
}




.contentJsonBox {
    width: 1000px;
  
    margin: auto;
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
    margin-top: 50px;

}

.contentJson {
    background-color: #2d2d2d74;
    border: 1px solid rgb(119, 117, 122);
    border-radius: 20px;
    margin-left: 20px;
    width: 500px;
    padding: 10px;

}

.contentJson:hover {
    background-color: #2d2d2d74;
    border: 1px solid rgb(68, 134, 184);
    border-radius: 20px;
    margin-left: 20px;
    padding: 10px;

}

.contentJson p {
    color: white;
    margin: 0px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    cursor: pointer;

}

.contentJson p:hover {
    transform: scale(1.05);

}

.contentJson span {
    color: rgb(255, 119, 0);
    font-weight: 700;
    transition: 0.3s;

}


.contentJson h4 {
    color: rgb(161, 161, 161);
    font-weight: 300;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.contentJson a {
    color: white;
}.game{
    width: 420px;
    height: 350px;
    border-radius: 15px;
    border: 1px solid rgb(255, 119, 0);
    margin: auto;
    margin-top: 50px;
    transition: 0.3s ease;


}.game:hover{
    transform: scale(1.2);
}.game img{
    width: 420px;
    border: 1px solid gray;
    border-radius: 15px;
    height: 350px;
}.game h2{
    text-align: center;
    font-weight: 200;
    font-family: 'Montserrat',sans-serif;
    color: white;
}
.gamebox{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
}footer{

    height: 200px;
    width: 100%;
    background-image: linear-gradient(to bottom, #5c6674, #525c6b, #485362, #3e4959, #354050, #303746, #000000,  #000000,  #000000,  #000000,  #000000, #000000);

}.bottomBox{
    width: 500px;
    height: 80px;
    cursor: pointer;
    margin: auto;
    display: flex;
    position: relative;
    top: 110px;



}.bottomBox ul{
   display: inline-block;
   margin-top: 20px;



}.bottomBox ul li{
   display: inline-block;
   margin: 10px;


}.bottomBox ul li a{
 color: white;
 
 text-decoration: none;
 font-weight: 100;
 font-family: 'Montserrat',sans-serif;


}.bottomBox img{
    width: 80px;
    height: 80px;
    border-radius:360px ;

}
}